<script>
  $(function() {
    $('.new-lesson-button').click(function() {
      var lessonUrl = $( event.target ).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });

    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

   });
</script>

<br />
<div class="form-box col-10 offset-1">
  <% if flash[:error].present? %>
    <div class="alert alert-danger mt-3 mb-3">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
  <% if flash[:success].present? %>
    <div class="alert alert-success mt-3 mb-3">
      <%= flash[:success].html_safe %>
    </div>
  <% end %>
  <h1 class="text-center"><%= current_course.title %></h1>
  <br />
  <div class="text-center">
    <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning' %>
    <br class="clr" />
    <br class="clr" />
    <%= image_tag(current_course.image.to_s, class: 'img-fluid') %>
  </div>
  <br class="clr" />
  <!-- Button trigger modal -->
  <div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newSectionModal">
      Add a new section
    </button>
  </div>
  <br class="clr" />

  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header">
          <span class="fa fa-ellipsis-v"></span>
          <%= section.title %>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary float-right new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
          New lesson
        </button>
        <br class="clr" />
        <br class="clr" />
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path(lesson) %>">
              <div class="row">
                <div class="col-1">
                  <br />
                  <span class="fa fa-ellipsis-v"></span>
                </div>
                <div class="col-11 text-center">
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                </div>
              </div>
              <br class="clr" />
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>

  <!-- Modal -->
  <div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newSectionModalLabel">Add a new section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a section" , class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newLessonModalLabel">Add a new lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for @lesson, html: {id: 'newLessonForm'}, url: "#" do |f| %>
        <div class="modal-body">
            <%= f.input :title, required: true %>
            <%= f.input :subtitle %>
            <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Add the lesson", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
