<br />

<div class="form-box col-10 offset-1">
  <div class="text-center">
    <h1>
      <%= @course.title %>
    </h1>
    <br />
    <%= image_tag(@course.image.to_s, class: 'img-fluid') %>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency @course.cost %>
      </span>
      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
      <% end %>
      <br />
      <br />
      <% if current_user %>
        <% if current_user.enrolled_in?(@course) %>
        <h3 class="badge badge-info">You Are Enrolled!</h3>
        <% else %>
          <% if @course.free? %>
          <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
          <% else %>
          <%= form_tag course_enrollments_path(@course) do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-email="<%= current_user.email %>"
                    data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                    data-amount="<%= (@course.cost * 100).to_i %>"
                    data-locale="auto"></script>
          <% end %>
          <% end %>
        <% end %>
      <% else %>
        <h3 class="badge badge-info">Sign in to enroll</h3>
      <% end %>
    </div>

    <div class="col-sm-8 col-12">
      <%= @course.description %>
      <br />
    </div>
  </div>
  <br />
  <div class="col-12">
    <% @course.sections.each do |section| %>
    <div class="section">
      <h3>
      <%= section.title %>
      </h3>
      <br />
      <div class="row">
        <% section.lessons.each do |lesson| %>
          <div class="col-12 col-sm-6">
            <div class="lesson text-center">
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
              <% end %>
            </div>
            <br class="clr" />
          </div>
        <% end %>
      </div>
    </div>
    <br />
    <% end %>
  </div>
</div>
